.wd-modules,
.wd-modules * {
  border-radius: 0%;
  border: none;
  margin: 0px;
  padding: 0px;
}

.wd-modules {
  margin: 20px;
}

.wd-modules > li {
  background-color: lightgray;
  border: 1px solid gray !important;
  border-left: none !important;
}

.wd-modules > li > div {
  padding: 6px;
  border-left: 1px solid gray !important;
}

.wd-modules > li > ul > li {
  padding: 5px;
  border-top: 1px solid gray !important;
  border-left: 2px solid green;
}

.wd-modules > li {
  margin-bottom: 20px;
}

.indent {
  padding-left: 20px;
}

.buttons {
  display: flex;
  justify-content: left;
  padding-right: 20px;
  margin-top: 5px;
  padding-left: 0.65rem;
}

.red-buttons {
  background-color: red;
  color:
   white;
}

#checkmark {
  color: green;
  margin-right: 0.2rem;
}

#triangle {
  margin-left: 0.2rem;
}
